# Dependencies
node_modules/
.pnpm-store/

# Build & Output
dist/
build/
.expo/
web-build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS / Editor files
.DS_Store
*.pem
.vscode/
.idea/

# Temporary Uploads
uploads/
tmp/
